# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env
.envrc
.venv

# Ignore database/migrations
instance/
migrations/

# Ignore logs
*.log
logs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.sqlite3
*.db